flows.json
[{"id":"80f5430c.11cf5","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"20b2357c.626bfa","type":"ui_form","z":"80f5430c.11cf5","name":"","label":"","group":"2b0b2c54.8a7004","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":50,"y":60,"wires":[["93fe0cb4.90e3f"]]},{"id":"c42ff2c1.b3993","type":"function","z":"80f5430c.11cf5","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0]+\" years\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["7fad5121.a4347","de229916.82c0a8"]]},{"id":"dc3eb85.ed45b48","type":"function","z":"80f5430c.11cf5","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"d010c6b1-6a02-46d8-b058-dda3bee8d92c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload =  {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\",\n                                            \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \n                                            \"Hepatitis B\", \"Measles\", \"BMI\",\n                                            \"under-five deaths\", \"Polio\", \"Total expenditure\", \n                                            \"Diphtheria\", \"HIV/AIDS\", \"GDP\",\n                                            \"Population\", \"thinness 1-19 years\", \"thinness 5-9 years\", \n                                            \"Income composition of resources\", \"Schooling\"],\n                                \"values\":\n                                    [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\n                                    \n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["149ba701.d95fc9"]]},{"id":"93fe0cb4.90e3f","type":"function","z":"80f5430c.11cf5","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"_c2Y6WxGKHScs2zIDM1QK8V9nqNbhmtL-N5Kir_OwlRJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":140,"wires":[["5cf1e0d7.3c52a"]]},{"id":"5cf1e0d7.3c52a","type":"http request","z":"80f5430c.11cf5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":220,"wires":[["dc3eb85.ed45b48"]]},{"id":"149ba701.d95fc9","type":"http request","z":"80f5430c.11cf5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/912fd3e2-301a-4b35-9e5c-f578b1111b9f/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":530,"y":280,"wires":[["3313ef7.8dac91","c42ff2c1.b3993"]]},{"id":"7fad5121.a4347","type":"debug","z":"80f5430c.11cf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":240,"wires":[]},{"id":"3313ef7.8dac91","type":"debug","z":"80f5430c.11cf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":160,"wires":[]},{"id":"de229916.82c0a8","type":"ui_text","z":"80f5430c.11cf5","group":"2b0b2c54.8a7004","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":520,"wires":[]},{"id":"2b0b2c54.8a7004","type":"ui_group","z":"","name":"Life Expectancy","tab":"e8296e22.ce80d","order":3,"disp":true,"width":"6","collapse":false},{"id":"e8296e22.ce80d","type":"ui_tab","z":"","name":"Main","icon":"dashboard","disabled":false,"hidden":false}]